@import url(../typography.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Noto Sans Georgian SemiBold", sans-serif;
    }

    h2 {
        font-family: "Alk Sanet", sans-serif;

        @apply  relative text-5xl text-customBlack-100 text-center font-bold overflow-hidden mx-24
                before:content-[''] before:absolute before:-ml-[52%] before:top-1/2 before:w-1/2 before:h-[2px] before:bg-customGray-300
                after:content-[''] after:absolute after:ml-[2%] after:top-1/2 after:w-1/2 after:h-[2px] after:bg-customGray-300;
    }

    p {
        font-family: "Noto Sans Georgian Medium", sans-serif;
    }
}

@layer components {
    .menu-item {
        @apply py-4 text-sm leading-8 cursor-pointer;
    }

    .text-shadow {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .card {
        @apply mt-[100px] w-2/3 xl:w-7/12 2xl:w-2/5 mx-auto px-14 pt-11 pb-16 bg-white bg-opacity-40 backdrop-blur-sm border rounded-[20px] shadow-card;
    }
}
