@font-face {
  font-family: "Noto Sans Georgian Medium";
  src: url("./fonts/NotoSansGeorgian/NotoSansGeorgian-Medium.ttf");
}

@font-face {
  font-family: "Noto Sans Georgian SemiBold";
  src: url("./fonts/NotoSansGeorgian/NotoSansGeorgian-SemiBold.ttf");
}
