@font-face {
    font-family: "Noto Sans Georgian Medium";
    src: url("./fonts/NotoSansGeorgian/NotoSansGeorgian-Medium.ttf");
}

@font-face {
    font-family: "Noto Sans Georgian SemiBold";
    src: url("./fonts/NotoSansGeorgian/NotoSansGeorgian-SemiBold.ttf");
}

@font-face {
    font-family: "Alk Sanet";
    src: url("./fonts/AlkSanet/alk-sanet.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
}
